
// Общие стили---------------------------------------------------------------
body
  min-width: 1040px
  padding: 0
  margin: 0
  font-family: Arial, sans-serif
  font-size: 18px
  line-height: 24px
  font-weight: 400
  color: #404040
  background-color: #000000

.btn
  color: #a38b70
  text-decoration: none
  text-transform: uppercase
  display: inline-block
  border: 2px solid #a38b70
  padding: 10px
  width: 166px
  word-wrap: break-word
  text-align: center
  font: inherit
  border-radius: 2px
  &:hover
    color: #8d745a
    border-color: #8d745a
  &:active
    color: rgba(141, 116, 90, 0.3)
    border-color: #8d745a
.section-title
  font-family: "Georgia", sans-serif
  font-size: 45px
  line-height: 55px
  color: #a38b70
  font-weight: bold

.container
  width: 1280px
  margin: 0 auto
.clearfix::after
  content: ""
  display: table
  clear: both
.center
  width: 1020px
  margin: 0 auto
.section-title
  margin: 0 180px 60px 0
  font-family: Georgia
  font-size: 45px
  line-height: 55px
  font-weight: 700
//Стили шапки---------------------------------------------------------------

header
  background-image: url('../img/header-bg.png')
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  background-color: #363636
  color: #c3c3c3
  padding: 0
  margin: 0
  min-height: 490px
  padding-top: 35px
  .promo
    color: #ffffff
    font-family: Georgia
    font-size: 50px
    font-weight: 900
    line-height: 50px
    text-align: center
    a
      color: #ffffff
      text-decoration: none
      font-weight: 700
  .header-logo
    float: left
    width: 205px
    height: 55px
    img
      width: 205px
      height: 55px
  .top-nav-menu
    float: left
    list-style: none
    width: 350px
    padding: 24px 0 0 0
    margin: 0 0 0 126px
    li
      text-transform: uppercase
      float: left
      margin-right: 50px
      &:last-child
        margin-right: 0
      a
       text-decoration: none
       color: #fff
       &:hover
         text-decoration: underline
       &:active
         color: rgba(255, 255, 255, 0.3)
  .btn-quick-order
    float: right
    color: #ffffff
    border-color: #ffffff
    margin-top: 8px

    &:hover
      color: #404040
      color: #ffffff
      border-color: #ffffff
    &:active
      color: rgba(64, 64, 64, 0.3)
      border-color: #ffffff
      background-color: #ffffff
  .header-top
    width: 1020px
    margin: 0 auto
    margin-bottom: 125px

//Блок features ------------------------------------------------------------

.features
  padding: 50px 0 55px 0
  text-align: center
  background-color: #ffffff
  .feature-item
    padding: 80px 30px 0 30px
    text-align: center
    border-left: 1px solid #d9d9d9
    display: inline-block
    width: 278px
    p
      font-size: 16px
      margin: 0
    &:first-child
      border-left-color: transparent
  .feature-title
    margin: 0 0 20px 0
    font-size: 30px
    font-family: Georgia, serif
    line-height: 30px
    font-weight: bold
    color: #a38b70
  .feature-choice
    background: url('../img/feature-choice.png') no-repeat top center
  .feature-quality
    background: url('../img/feature-quality.png') no-repeat top center
  .feature-security
    background: url('../img/feature-security.png') no-repeat top center

//Блок cat-reference - преимущества---------------------

.cat-reference
  background-color: #f2f2f2
  padding: 70px 0 90px 0
  position: relative
  .section-title
    margin: 0 180px 60px 0
    font-family: Georgia
    font-size: 45px
    line-height: 55px
    font-weight: 700
  .to-full-reference
    position: absolute
    top: 77px
    right: 132px
  .reference-title
    font-size: 24px
    display: inline
  .reference-source
    font-size: 16px
    color: #666666
    font-style: italic
    a
      color: #a38b70
      &:hover
        color: #8d745a
      &:active
        color: rgba(141, 116, 90, 0.3)
  dd
    font-size: 16px
    margin: 0
    min-height: 100px
    padding-left: 130px
    position: relative
    p
      margin: 0
    img
      border-radius: 5px
      width: 100px
      height: 100px
      position: absolute
      top: 0
      left: 0
    & + dt
      padding-top: 70px
  dl
    width: 820px
    margin: 0
    padding: 0
  dt
    margin: 0 10px 12px 0

//----блок reviews---------------------------

.reviews
  background-color: #ffffff
  padding: 70px 0 90px 0
  position: relative

  .to-all-reviews
    position: absolute
    top: 77px
    right: 132px
  .reviews-list
    .review-item
      float: left
      min-height: 111px
      width: 350px
      margin: 0 106px 0 0
      padding: 0 0 0 50px
      font-size: 16px
      line-height: 24px
      border-left: 3px solid #a38b70
      p
        margin: 0 0 15px 0
      .review-author
        font-style: italic
        font-weight: bold

//БЛОК популярные товары------------------------------------------

.popular-goods
  padding: 70px 0 90px 0
  background-color: #f2f2f2
  position: relative
  .to-catalog
    position: absolute
    top: 77px
    right: 132px
  .catalog-item
    position: relative
    font-size: 16px
    float: left
    width: 260px
    margin-right: 50px
    border: 1px solid #d8d8d8
    padding: 221px 22px 20px 22px
    img
      position: absolute
      width: 306px
      height: 206px
      top: 0
      left: 0
    &:last-child
      margin-right: 0px
    .good-name
      font-size: 16px
      color: #000000
      float: left
      max-width: 205px
      margin: 0 0 20px 0
    .good-price
      float: right
      max-width: 55px
      margin: 0 0 20px 0
    .btn-info
      float: left
      clear: right
    .btn-buy
      float: right
    .btn
      color: #ffffff
      background-color: #a38b70
      width: 101px
      &:hover
        background-color: #8d745a
      &:active
        color: rgba(255, 255, 255, 0.3)
  img
    width: 100%
    height: auto
  .price-list
    width: 100%
    border-collapse: collapse
    line-height: 30px
    td
      border: 1px solid #333333
      padding: 10px 17px
      border-color: #d8d8d8
    th
      font-size: 14px
      text-transform: uppercase
      font-weight: normal
      text-align: left
      padding: 10px 17px
    .price-number
      text-align: center
      width: 15px
    .price-name
      font-weight: bold
      color: #000000
      width: 422px
    .price-master
      width: 306px
    .price-cost
      width: 135px
  .goods
    margin-bottom: 50px


//Блок отзывы -----------------------------------------------------

.feedback
  background-color: #ffffff
  position: relative
  padding: 60px 0 70px 0
  .feedback-tip
    position: absolute
    top: 60px
    right: 130px
    max-width: 500px
  .section-title
    max-width: 500px
  .feedback-form-group
    padding: 0
    margin-bottom: 15px
    label
      display: inline-block
      padding: 5px 0 5px 17px
      color: #404040
      font-family: "Arial MT"
      font-size: 12px
      font-weight: 400
      text-transform: uppercase
  input[type="text"], input[type="email"], input[type="tel"], select, textarea
    color: inherit
    font: inherit
    border: 2px solid #d5d5d5
    width: 100%
    padding: 9px 15px
    height: 54px
    box-sizing: border-box
    &:hover
      border-color: #bebebe
    &:focus
      border-color: #8d745a
  .checkbox-area
    border-bottom: 1px solid #d5d5d5
    margin-bottom: 25px
    padding: 25px 0 25px 17px
    input[type="checkbox"]
      margin: 0 5px 0 0
  .feedback-tip
    font-size: 16px
  .feedback-form
    background: url('../img/feedback-img.png') no-repeat 100% 40px
    padding-right: 390px
    width: 630px
  .feedback-form-group-left-part
    float: left
    width: 290px
  .feedback-form-group-right-part
    float: right
    width: 290px
  textarea
    display: block
    min-height: 120px
  .btn
    margin-top: 40px
    background-color: #a38b70
    color: #ffffff
    &:hover
      background-color: #8d745a
    &:active
      color: rgba(255, 255, 255, 0.3)



//Блок ФУТЕРА----------------------------------

footer
  background-color: #363636
  color: #c3c3c3
  padding: 45px 0 50px 0
  .order
    padding-bottom: 50px
    .footer-logo
      float: left
      width: 205px
      height: 55px
    .btn-quick-order
      float: right
  .footer-menu
    padding-top: 50px
    padding-bottom: 70px
    border-top: 1px solid #5e5e5e
    ul
      color: #a38b70
      font-weight: bold
      font-size: 24px
      text-transform: uppercase
      list-style: none
      padding: 0
      margin: 0
      li
        margin-bottom: 15px
        &:last-child
          margin-bottom: 0
      a
        text-decoration: none
        color: #c3c3c3
        text-transform: none
        color: #c3c3c3
        font-family: "Arial MT"
        font-size: 16px
        font-weight: 400
        &:hover
          color: #ffffff
        &:active
          color: rgba(255, 255, 255, 0.3)
    .footer-menu-category
      float: left
      width: 112px
      margin-right: 60px
      margin-bottom: 0
      h3
        margin: 0 0 20px 0
        color: #a38b70
        font-family: Georgia
        font-size: 24px
        font-weight: 700
  .footer-contacts
    .social-netw
      float: left
      width: 480px
      font-size: 0
      .social-btn
        display: inline-block
        vertical-align: middle
        border: 1px solid rgba(255, 255, 255, 0.1)
        width: 60px
        height: 60px
        margin-right: 10px
        background-image: url('../img/sprite.png')
        background-repeat: no-repeat
        &:hover
          border-color: rgba(255, 255, 255, 0.3)
        &:active
          border-color: #ffffff

      .social-btn-vk
        background-position: 16px -238px
      .social-btn-fb
        background-position: 19px -297px
      .social-btn-in
        background-position: 13px -358px
    border-top: 1px solid #5e5e5e
    padding-top: 50px
    .friendship
      color: #a38b70
      font-family: Georgia
      font-size: 24px
      font-weight: 700
      margin-right: 40px
      display: inline-block
    a
      color: #ffffff
    .footer-copyright
      float: right
      width: 234px
      text-transform: uppercase
      color: #ffffff
      margin-top: 17px
      .heart
        display: inline-block
        background-image: url('../img/sprite.png')
        background-repeat: no-repeat
        background-position: -5px -419px
        width: 27px
        height: 24px
        font-size: 0
        vertical-align: middle
